// MEDIA QUERY MANAGER
/*
0 - 600px:      Mobile
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- mobile
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == mobile {
		@media only screen and (max-width: 37.5em) {
			@content;
		} //600px
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		} //900px
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			@content;
		} //1200px
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			@content;
		} //1800 px
	}
}

@mixin base-layout {
	display: grid;
	grid-template-columns: 2fr 7fr;
	column-gap: clamp(var(--spacing-24), 8%, var(--spacing-32));

	@include respond(tab-port) {
		grid-template-columns: 1fr;
		padding: 0 var(--spacing-16) var(--spacing-16);
	}
}
