.prose > hgroup {
	margin: var(--spacing-128) 0;
	text-align: center;
}

.prose > h1 {
	color: var(--clr-primary-700);
	font-size: var(--font-48);
	font-family: var(--font-accent);
	line-height: 1.167;
}

.prose > h2 {
	color: var(--clr-primary-500);
	font-weight: var(--font-weight-light);
	font-size: var(--font-48);
}

.prose > h3 {
	font-size: var(--font-32);
}

.prose > h4 {
	font-size: var(--font-32);
	font-weight: var(--font-weight-regular);
}
.prose > h5 {
	font-size: var(--font-24);
	font-weight: var(--font-weight-medium);
}
.prose > h6 {
	font-size: var(--font-24);
	font-weight: var(--font-weight-regular);
}

.prose #table-of-contents + ul a {
	text-decoration: none;
	font-weight: inherit;
}

.prose > p > a,
.prose > ul li a {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.prose > p,
.prose > ul li {
	font-size: 2.2rem;
	line-height: 3.2rem;
	font-weight: 500;
}

.prose > h4,
.prose > h5,
.prose > h6 {
	margin-bottom: var(--spacing-16);
}

.prose > h1,
.prose > h2,
.prose > h3,
.prose > ul,
.prose > p {
	margin-bottom: var(--spacing-24);
}

.prose > h1,
.prose > h2,
.prose > h3 {
	margin-top: var(--spacing-8);
}

.prose > p > img,
.prose > iframe,
.prose > video,
.prose > pre,
.prose > blockquote,
.prose > details {
	margin-bottom: var(--spacing-32);
}

.prose > ol {
	list-style-type: decimal;
}

.prose > blockquote {
	padding: var(--spacing-32);
	color: var(--post-blockquote-txt);
	background-color: var(--post-blockquote-bg);
	border: 1px solid var(--post-blockquote-border);
	border-top: 4px solid var(--clr-primary-500);
	border-radius: var(--rounded-20);
	box-shadow: var(--shadow-sm);
}

.prose > blockquote > p {
	margin-bottom: 0;
}

.prose > details summary {
	margin-bottom: var(--spacing-8);
	font-weight: 700;
}

.prose > table {
	border-collapse: collapse;
	margin-bottom: var(--spacing-24);
	font-size: 2rem;
	font-weight: var(--font-weight-regular);
	line-height: 2.8rem;
	margin-bottom: var(--spacing-64);

	th,
	td {
		padding: var(--spacing-16);
		border: 1px solid var(--clr-surface-400);
	}

	/* Table Header Styles */
	th {
		background-color: var(--clr-surface-100);
		font-weight: bold;
	}

	tr {
		/* Alternating Row Colors */
		&:nth-child(even) {
			background-color: var(--clr-surface-100);
		}

		&:nth-child(odd) {
			background-color: var(--clr-surface-50);
		}

		/* Hover Effect */
		&:hover {
			background-color: var(--clr-surface-200);
		}
	}

	a {
		color: var(--clr-primary-600);

		&:hover {
			color: var(--clr-primary-400);
		}
	}
}

.prose > iframe:not([height]) {
	height: 90vh;
}

// Remove width and height from embedded iframe
.prose > iframe[title='YouTube video player'] {
	width: min(80%, 70rem);
	height: auto;
	aspect-ratio: 16 / 9;
	justify-self: center;
}

.prose {
	align-self: stretch;
	display: grid;
	grid-template-columns: [main-start] 1fr [content-start] minmax(0px, 80ch) [content-end] 1fr [main-end];
}

.prose > * {
	grid-column: 1/-1;
}

// TODO unwrap img from p tags
.prose > p > img,
.prose > img {
	margin-left: auto;
	margin-right: auto;
}

.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4,
.prose > h5,
.prose > h6,
.prose > blockquote,
.prose > p,
.prose > ul,
.prose > hr,
.prose > table {
	grid-column: content-start;
}
