@import './color-palette.scss';

html[color-theme='dark'] {
	/* Palette ---------------------------------- */
	$clr-primary: #6effd1;
	$clr-secondary: #9e95f1;
	$clr-tertiary: hsl(206, 47%, 43%);
	$clr-success: #5cb85c;
	$clr-warning: #eab308;
	$clr-error: #d41976;
	$clr-surface: #083d77;

	@include color-palette(primary, $clr-primary, true);
	@include color-palette(secondary, $clr-secondary, true);
	@include color-palette(tertiary, $clr-tertiary, true);
	@include color-palette(success, $clr-success, true);
	@include color-palette(warning, $clr-warning, true);
	@include color-palette(error, $clr-error, true);
	@include color-palette(surface, $clr-surface, true);

	$clr-txt: hsl(0 0% 98%);
	$clr-txt-neg: hsl(220 10% 10%);
	$clr-text-on-primary: $clr-txt-neg;
	$clr-text-on-secondary: $clr-txt-neg;
	$clr-text-on-tertiary: $clr-txt;
	$clr-text-on-success: $clr-txt-neg;
	$clr-text-on-warning: $clr-txt-neg;
	$clr-text-on-error: $clr-txt-neg;
	$clr-text-on-surface: $clr-txt;
	$clr-link-txt: $clr-primary;

	@include color-palette(txt, $clr-txt, true);
	@include color-palette(txt-neg, $clr-txt-neg, true);
	@include color-palette(text-on-primary, $clr-text-on-primary, true);
	@include color-palette(text-on-secondary, $clr-text-on-secondary, true);
	@include color-palette(text-on-tertiary, $clr-text-on-tertiary, true);
	@include color-palette(text-on-success, $clr-text-on-success, true);
	@include color-palette(text-on-warning, $clr-text-on-warning, true);
	@include color-palette(text-on-error, $clr-text-on-error, true);
	@include color-palette(text-on-surface, $clr-text-on-surface, true);
	@include color-palette(link-txt, $clr-link-txt, true);
	/* ------------------------------------------ */

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(173 100% 4% / 80%), var(--clr-surface-500));
	--post-blockquote-txt: hsl(173 100% 94%);
	--post-blockquote-bg: hsl(173 60% 8%);
	--post-blockquote-border: hsl(173 10% 10%);

	--clr-code-bg: linear-gradient(hsl(173 60% 10%), hsl(173 60% 12%));
	--clr-code-title: hsl(173 100% 94%);
	--clr-code-title-bg: hsl(173 60% 10%);
	--clr-code-border: hsl(173 10% 10%);
	--clr-code-line-number: hsl(173 20% 40%);
	--clr-code-line-highlight: hsl(173 40% 20%);
	--clr-code-inline-txt: hsl(173 100% 94%);
	--clr-code-inline-bg: hsl(173 60% 4%);

	--clr-token-1: hsl(173 100% 66%);
	--clr-token-2: hsl(180 60% 80%);
	--clr-token-3: hsl(173 100% 66%);
	--clr-token-4: hsl(0 0% 98%);
	--clr-token-5: hsl(173 10% 60%);
}

html[color-theme='light'] {
	/* Palette ---------------------------------- */
	$clr-primary: #9e95f1;
	$clr-secondary: #6effd1;
	$clr-tertiary: rgb(237, 237, 180);
	$clr-success: #5cb85c;
	$clr-warning: #eab308;
	$clr-error: #d41976;
	$clr-surface: #083d77;
	//084B83
	// yale 083D77

	@include color-palette(primary, $clr-primary);
	@include color-palette(secondary, $clr-secondary);
	@include color-palette(tertiary, $clr-tertiary);
	@include color-palette(success, $clr-success);
	@include color-palette(warning, $clr-warning);
	@include color-palette(error, $clr-error);
	@include color-palette(surface, $clr-surface);

	$clr-txt: hsl(220 10% 10%);
	$clr-txt-neg: hsl(0 0% 98%);
	$clr-text-on-primary: $clr-txt;
	$clr-text-on-secondary: $clr-txt;
	$clr-text-on-tertiary: $clr-txt;
	$clr-text-on-success: $clr-txt;
	$clr-text-on-warning: $clr-txt;
	$clr-text-on-error: $clr-txt;
	$clr-text-on-surface: $clr-txt;
	$clr-link-txt: $clr-primary;

	@include color-palette(txt, $clr-txt);
	@include color-palette(txt-neg, $clr-txt-neg);
	@include color-palette(text-on-primary, $clr-text-on-primary);
	@include color-palette(text-on-secondary, $clr-text-on-secondary);
	@include color-palette(text-on-tertiary, $clr-text-on-tertiary);
	@include color-palette(text-on-success, $clr-text-on-success);
	@include color-palette(text-on-warning, $clr-text-on-warning);
	@include color-palette(text-on-error, $clr-text-on-error);
	@include color-palette(text-on-surface, $clr-text-on-surface);
	@include color-palette(link-txt, $clr-link-txt);
	
	/* ------------------------------------------ */

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(0 0% 100% / 60%), var(--clr-surface-500));
	--post-blockquote-txt: hsl(0 0% 40%);
	--post-blockquote-bg: hsl(0 0% 98%);
	--post-blockquote-border: hsl(0 0% 84%);

	--clr-code-bg: linear-gradient(hsl(0 0% 94%), hsl(0 0% 98%));
	--clr-code-title: hsl(0 0% 40%);
	--clr-code-title-bg: hsl(0 0% 94%);
	--clr-code-border: hsl(0 0% 84%);
	--clr-code-line-number: hsl(0 0% 60%);
	--clr-code-line-highlight: hsl(0 0% 90%);
	--clr-code-inline-txt: hsl(0 0% 98%);
	--clr-code-inline-bg: hsl(0 0% 20%);

	--clr-token-1: hsl(220 100% 50%);
	--clr-token-2: hsl(220 60% 50%);
	--clr-token-3: hsl(220 100% 50%);
	--clr-token-4: hsl(0 0% 20%);
	--clr-token-5: hsl(0 0% 60%);
}